* {
  box-sizing: border-box;
  margin: 0px;
}

.main-heading {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
.card-list {
  padding-top: 20px;
  text-align: center;
  background-color: rgb(126, 226, 126);
}

a {
  display: block;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.center {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 10px;
}

ol {
  text-align: left;
  margin: 0;
  padding-left: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
